In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data1617 = pd.read_csv('data_Ander/data_promotions_1617.csv', encoding='latin1')
data1617 = data1617[data1617['Municipi'] == 'BARCELONA']
data1617 = data1617.drop(columns = ['Nivell', 'Sexe'])
col_resultat = 'Resultat de l\'avaluació'
data1617['Promociona'] = np.where(
    data1617[col_resultat].str.startswith('Promo'),
    'PROMOCIONA',
    'NO PROMOCIONA'
)
col_n_alumnes = "Nombre d'avaluats"
resumen = (data1617
    .groupby('Promociona')[col_n_alumnes].sum().reset_index()
)

resumen
resumen['Proporció'] = resumen["Nombre d'avaluats"] / resumen["Nombre d'avaluats"].sum()

resumen1617 = resumen
resumen1617

      Promociona  Nombre d'avaluats  Proporció
0  NO PROMOCIONA             3444.0   0.063959
1     PROMOCIONA            50403.0   0.936041

In [ ]:
data1718 = pd.read_csv('data_Ander/data_promotions_1718.csv')
data1718 = data1718[data1718['Municipi'] == 'BARCELONA']

col_resultat = "Resultat de l'avaluació"

data1718 = data1718[data1718[col_resultat] != "Alumnes avaluats"]

data1718['Promociona'] = np.where(
    data1718[col_resultat].str.startswith('Promo'),
    'PROMOCIONA',
    'NO PROMOCIONA'
)
col_n_alumnes = "Nombre d'avaluats"
resumen1718 = (data1718
    .groupby('Promociona')[col_n_alumnes].sum().reset_index()
)

resumen1718['Proporció'] = resumen1718["Nombre d'avaluats"] / resumen1718["Nombre d'avaluats"].sum()

resumen1718

      Promociona  Nombre d'avaluats  Proporció
0  NO PROMOCIONA               3534   0.064535
1     PROMOCIONA              51227   0.935465

In [38]:
data1819 = pd.read_csv('data_Ander/data_promotions_1819.csv', delimiter=';')
data1819 = data1819[data1819['Municipi'] == 'BARCELONA']

col_resultat = "Resultat de l'avaluació"

data1819 = data1819[data1819[col_resultat] != "Alumnes avaluats"]
data1819 = data1819[data1819[col_resultat] != "S'ha expedit certificat"]

data1819['Promociona'] = np.where(
    data1819[col_resultat].str.startswith('Promo'),
    'PROMOCIONA',
    'NO PROMOCIONA'
)
col_n_alumnes = "N Avaluats estudi"
resumen1819 = (data1819
    .groupby('Promociona')[col_n_alumnes].sum().reset_index()
)

resumen1819['Proporció'] = resumen1819["N Avaluats estudi"] / resumen1819["N Avaluats estudi"].sum()

resumen1819

      Promociona  N Avaluats estudi  Proporció
0  NO PROMOCIONA               2595   0.046737
1     PROMOCIONA              52929   0.953263

In [40]:
data1920 = pd.read_csv('data_Ander/data_promotions_1920.csv', delimiter=';')
data1920 = data1920[data1920['Municipi'] == 'BARCELONA']

col_resultat = "Resultat de l'avaluació"

data1920 = data1920[data1920[col_resultat] != "Alumnes avaluats"]
data1920 = data1920[data1920[col_resultat] != "S'ha expedit certificat"]

data1920['Promociona'] = np.where(
    data1920[col_resultat].str.startswith('Promo'),
    'PROMOCIONA',
    'NO PROMOCIONA'
)
col_n_alumnes = "Nombre alumnes"
resumen1920 = (data1920
    .groupby('Promociona')[col_n_alumnes].sum().reset_index()
)

resumen1920['Proporció'] = resumen1920["Nombre alumnes"] / resumen1920["Nombre alumnes"].sum()

resumen1920

      Promociona  Nombre alumnes  Proporció
0  NO PROMOCIONA            3306   0.059062
1     PROMOCIONA           52669   0.940938

In [41]:
data2021 = pd.read_csv('data_Ander/data_promotions_2021.csv', delimiter=';')
data2021 = data2021[data2021['Municipi'] == 'BARCELONA']

col_resultat = "Resultat de l'avaluació"

data2021 = data2021[data2021    [col_resultat] != "Alumnes avaluats"]
data2021 = data2021[data2021[col_resultat] != "S'ha expedit certificat"]
    
data2021['Promociona'] = np.where(
    data2021[col_resultat].str.startswith('Promo'),
    'PROMOCIONA',
    'NO PROMOCIONA'
)
col_n_alumnes = "Nombre alumnes"
resumen2021 = (data2021
    .groupby('Promociona')[col_n_alumnes].sum().reset_index()
)

resumen2021['Proporció'] = resumen2021["Nombre alumnes"] / resumen2021["Nombre alumnes"].sum()

resumen2021

      Promociona  Nombre alumnes  Proporció
0  NO PROMOCIONA            1401    0.02506
1     PROMOCIONA           54505    0.97494

In [42]:
data2122 = pd.read_csv('data_Ander/data_promotions_2122.csv', delimiter=';')
data2122 = data2122[data2122['Municipi'] == 'BARCELONA']

col_resultat = "Resultat de l'avaluació"

data2122 = data2122[data2122    [col_resultat] != "Alumnes avaluats"]
data2122 = data2122[data2122[col_resultat] != "S'ha expedit certificat"]
    
data2122['Promociona'] = np.where(
    data2122[col_resultat].str.startswith('Promo'),
    'PROMOCIONA',
    'NO PROMOCIONA'
)
col_n_alumnes = "Nombre alumnes"
resumen2122 = (data2122
    .groupby('Promociona')[col_n_alumnes].sum().reset_index()
)

resumen2122['Proporció'] = resumen2122["Nombre alumnes"] / resumen2122["Nombre alumnes"].sum()

resumen2122

      Promociona  Nombre alumnes  Proporció
0  NO PROMOCIONA            2026   0.036262
1     PROMOCIONA           53845   0.963738

In [46]:
data2223 = pd.read_csv('data_Ander/data_promotions_2223.csv', delimiter=';', encoding='latin1')
data2223 = data2223[data2223['Municipi'] == 'BARCELONA']

col_resultat = "Resultat de l'avaluació"

data2223 = data2223[data2223    [col_resultat] != "Alumnes avaluats"]
data2223 = data2223[data2223[col_resultat] != "S'ha expedit certificat"]
    
data2223['Promociona'] = np.where(
    data2223[col_resultat].str.startswith('PROMO'),
    'PROMOCIONA',
    'NO PROMOCIONA'
)
col_n_alumnes = "Alumnes avaluats"
resumen2223 = (data2223
    .groupby('Promociona')[col_n_alumnes].sum().reset_index()
)

resumen2223['Proporció'] = resumen2223["Alumnes avaluats"] / resumen2223["Alumnes avaluats"].sum()

resumen2223

      Promociona  Alumnes avaluats  Proporció
0  NO PROMOCIONA              2276    0.03982
1     PROMOCIONA             54881    0.96018

In [47]:
data2324 = pd.read_csv('data_Ander/data_promotions_2324.csv', delimiter=';', encoding='latin1')
data2324 = data2324[data2324['Municipi'] == 'BARCELONA']

col_resultat = "Resultat de l'avaluació"

data2324 = data2324[data2324    [col_resultat] != "Alumnes avaluats"]
data2324 = data2324[data2324[col_resultat] != "S'ha expedit certificat"]
    
data2324['Promociona'] = np.where(
    data2324[col_resultat].str.startswith('PROMO'),
    'PROMOCIONA',
    'NO PROMOCIONA'
)
col_n_alumnes = "Alumnes avaluats"
resumen2324 = (data2324
    .groupby('Promociona')[col_n_alumnes].sum().reset_index()
)

resumen2324['Proporció'] = resumen2324["Alumnes avaluats"] / resumen2324["Alumnes avaluats"].sum()

resumen2324

      Promociona  Alumnes avaluats  Proporció
0  NO PROMOCIONA              2246   0.038628
1     PROMOCIONA             55898   0.961372